# Build results
bin/
obj/

# Visual Studio cache/options directory
.vs/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Local user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
.DS_Store

# NuGet lock files
packages.lock.json

# Build folders
artifacts/
/ResourceBooking.Api/bin
/ResourceBooking.Blazor/bin
/ResourceBooking.Core/bin
/ResourceBooking.Tests/bin
/ResourceBooking.Api/bin
/ResourceBooking.Blazor/obj
/ResourceBooking.Core/obj
/ResourceBooking.Tests/obj
